.flex
  %h1.text-xl
    =@team.name
  = link_to "Go Back", teams_path, class: "btn btn-primary mr-4 ml-auto"

= form_with model: @new_post do |form|
  .field.mt-4.border.p-4.rounded
    = form.rich_text_area :content
    = form.hidden_field :team_id, value: @team.id
    .flex.mt-4
      = form.submit "Post", class: "btn btn-success mr-4 ml-auto"
