!!!
%html{"data-theme" => "sunset"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TeamManager
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag asset_path('logo.png')
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    .min-h-screen.w-full
      .navbar.bg-base-100
        .navbar-start
          .dropdown
            .btn.btn-ghost.btn-circle{:role => "button", :tabindex => "0"}
              %svg.h-5.w-5{:fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M4 6h16M4 12h16M4 18h7", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
            %ul.menu.menu-sm.dropdown-content.mt-3.p-2.shadow.bg-base-100.rounded-box.w-52{:class => "z-[1]", :tabindex => "0", 'data-turbo-prefetch' => "false"}
              %li
                =link_to 'Teams', teams_path
              %li
                %a Calendar
              %li
                =link_to 'Settings', settings_path
              %li
                =link_to 'Sign Out', logout_path
        .navbar-center
          =link_to 'Team Manager', dashboard_path, class: 'btn btn-ghost text-xl'
        .navbar-end
          %button.btn.btn-ghost.btn-circle
            .indicator
              %svg.h-5.w-5{:fill => "none", :stroke => "currentColor", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
                %path{:d => "M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
              %span.badge.badge-xs.badge-primary.indicator-item
      %main{class: "flex w-9/12 mx-auto"}
        .w-full
          = yield
